<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/84637567-41ca-4a06-932e-77a61390c099/resourcegroups/Gonk/providers/Microsoft.Web/sites/Aquamancy</ResourceId>
    <ResourceGroup>Gonk</ResourceGroup>
    <ApiResourceId>/subscriptions/84637567-41ca-4a06-932e-77a61390c099/resourceGroups/Gonk/providers/Microsoft.ApiManagement/service/AquamancyHealthCheckapi2/apis/AquamancyHealthCheck</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://aquamancy-cbfvcua3fsf2h8bw.francecentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>997559e4-ea2e-4160-b5dc-c89af6b592d4</ProjectGuid>
    <MSDeployServiceURL>aquamancy-cbfvcua3fsf2h8bw.scm.francecentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Aquamancy</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>